@model CategoryRegVM
@{
    ViewData["Title"] = "Register new Category";
}


<div class="container">
    <form method="post" asp-action="Create" novalidate>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="mb-3">
            <label asp-for="CategoryName" class="form-label">New Category</label>
            <input asp-for="CategoryName" class="form-control" onkeyup="validateText(event)" />
            <span asp-validation-for="CategoryName" class="error"></span>
            
        </div>



        <div>
            <button class="btn-theme mb-5">Create Category!</button>
        </div>

    </form>
</div>