@import '../core/fonts';
@import '../core/colors';
@import '../core/mixins';
   

.admin-section {
    

    .container {


        .admin-title {
            text-align: center;
            font-size: 18px;
            font-style: italic;
            margin: 5rem 0 5rem 0;
        }

        .admin-buttons {
            display: flex;
            justify-content: space-evenly;
            margin: 5rem 0 15rem 0;
        }

        .admin-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #337ab7;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

        .admin-button:hover {
            background-color: #286090;

            .admin-button:active {
                background-color: #1b4c82;
            }
        }
    }
}
