

<section class="admin-section">
<div class="jumbotron">
    <div class="container">
    <h3 class="display-4">Welcome @User.Identity.Name! This is your admin dashboard.</h3>

        <!-- Visar success-meddelande vid skapande av ny tag eller kategory -->
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success centered-message">@ViewBag.SuccessMessage</div>
        }

    <p class="lead" mt-4>Let's get started!</p>
    <hr class="my-4">
    <p>You can do lots of stuff here! I would recommend starting with creating a tag or two and then some categories perhaps! You can select 
        what tag you want to show on the Homepage by changing ID in the HomeController.
    </p>
    <p class="lead">
        <div class="admin-buttons">

            <div class="dropdown">
                <button class="btn-theme dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Show Stuff!
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="GetAllUsers">Show all registered users</a></li>
                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="AdminProducts">Show all registered products</a></li>
                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="ShowAllComments">Show all registered comments from Contacts</a></li>

                </ul>
            </div>


            <div class="dropdown">
                <button class="btn-theme dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Create Stuff!
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" asp-controller="Products" asp-action="Create"><i class="fa fa-plus"></i> Create new Product</a></li>
                    <li><a class="dropdown-item" asp-controller="ProductCategories" asp-action="Create"><i class="fa fa-plus"></i> Create new Category</a></li>
                    <li><a class="dropdown-item" asp-controller="Tags" asp-action="Create"><i class="fa fa-plus"></i> Create new Tag</a></li>
                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="CreateUser"><i class="fa fa-plus"></i> Create new User</a></li>
                </ul>
            </div>
        </div>
    </p>
    </div>
</div>
</section>