@model ProductRegVM





<div class="container">
    <form enctype="multipart/form-data" method="post" asp-action="Create" novalidate>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="mb-3">
            <label asp-for="ArticleNumber" class="form-label">Article Number</label>
            <input asp-for="ArticleNumber" class="form-control" />
            <span asp-validation-for="ArticleNumber" class="small text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ProductName" class="form-label">Product Name</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="small text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Product Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="small text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductDescription" class="form-label">Product Description</label>
            <input asp-for="ProductDescription" class="form-control" />
            <span asp-validation-for="ProductDescription" class="small text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="SelectedCategory" class="form-label">Category</label>
            <select asp-for="SelectedCategory" asp-items="ViewBag.CategorySelectList" class="form-control"></select>
            <span asp-validation-for="SelectedCategory" class="small text-danger"></span>
        </div>
    
        <div class="mb-5">
            @foreach (SelectListItem tag in ViewBag.Tags)
            {
                <div class="form-check form-check-inline mb-2">
                    <input type="checkbox" name="Tags" id="tag-@tag.Text-@tag.Value" value="@tag.Value" checked="@tag.Selected" id="@tag.Value" class="form-check-input" />
                    <label for="tag-@tag.Text-@tag.Value" class="small form-check-label mr-2">@tag.Text</label>
                </div>
            }
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label">Add Image</label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="small text-danger"></span>
        </div>




        <div>
            <button class="btn-theme mb-5">Create product!</button>
        </div>

    </form>
</div>