@{
    ViewData["Title"] = User.Identity?.Name;
}


<div class="container d-flex justify-content-center">
    <div>
    <h2 class="title">Hello @User.Identity?.Name! Welcome to your account page!</h2>
    <div class="">
            <div class="btn-group m-5">
                <a class="link btn-theme" asp-controller="Account" asp-action="Index">Show recommendations</a>
                <a class="link btn-theme" asp-controller="Account" asp-action="Index">See what's new!</a>
                <a class="link btn-theme" asp-controller="Account" asp-action="Index">Manage orders</a>
            </div>


            <div class="btn-group m-5">
                <a class="link btn-theme" asp-controller="Account" asp-action="Index">Your order history</a>
                <a class="link btn-theme" asp-controller="Account" asp-action="Index">Manage account</a>
                <a class="link btn-theme" asp-controller="Account" asp-action="Index">Settings</a>
            </div>
    
    </div>
    </div>
</div>





