@model ProductsVM



<section class="top-selling">
    <div class="container-fluid">
        <h1 class="collection-title">Top selling products in this week</h1>
        
        <div class=" collection-grid">
       
            @foreach (var featuredProduct in Model.FeaturedProducts)
            {



                var link = $"products/{featuredProduct.ArticleNumber}";
                <div class="collection-grid">

                    <!-- collection-item start -->
                    <a href="/products/@featuredProduct.ArticleNumber" class="collection-item">



                        @if (!string.IsNullOrEmpty(featuredProduct.ImageUrl))
                        {
                            <img src="~/images/products/@featuredProduct.ImageUrl" alt="@featuredProduct.ProductName" style="height:295px; width:270px;">
                        }
                        else
                        {
                            <img src="~/images/placeholders/270x295.svg" alt="Image Not available :(" style="height:295px; width:270px;">
                        }
                        <div class="body">
                            <div class="title">@featuredProduct.ProductName</div>
                            <div class="info">
                                @featuredProduct.ProductDescription
                                <i class="add-cart fa-regular fa-cart-plus"></i>
                            </div>
                            <div class="price">@featuredProduct.Price$</div>


                        </div>
                    </a>
                </div>
            }
        </div>
        
        <div class="load-more">
            <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-outline-white ms-1"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
</section>